*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
.class{
    margin: 0 auto;
    width: 60%; height: 700px; background-color: beige;
    
}
img{
   
   max-width: 270px; text-align: center;  height: 330px; padding-left: 80px; padding-right: 80px; background-color: #fff;
}
.title{
    width: 50%; margin: auto;
}

.title1{
    width: 50%; display: flex;
    flex-direction: column;
}
