*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    z-index: -1;
}
.slider{
    width: 90%;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 200%;
    display: flex;
}
.slides input{
    display: none;
}

.slide{
    width: 33.333%;
    position: relative;
}
.slide-img{
    overflow: hidden;
}
.slide img{
    width: 100%;    
    margin-top: -10%;
    margin-bottom: -8%;
}

.prev, .next{
    position: absolute;
    top: 40%;
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    z-index: 2;
}
.next{
    right: 0;
}
.prev:hover{
    color: #00a7ff; /* blue */
}
.next:hover{
    color: #00a7ff; /* blue */
}

.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
    cursor: pointer;
}
.dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.active, .dot:hover{
    border-color: #00a7ff; /* blue */
}
.txt{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    width: 100%;
    z-index: 1;
    top: 40%;
}
.txt h1{
    text-align: center;
    color: #ffffff;
    font-family: Pacifico;
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 5px 2px 4px grey, 5px -5px 4px #212529;
  }

.txt p{
    /* padding-left: 60px; */
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
    color: #ffffff;
    font-size: 16px;
    text-shadow: 5px 2px 4px grey, 5px -5px 4px #212529;
}
.introduce{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.introduce h1{
    font-size: 60px;
    text-transform: capitalize;
    font-family: pacifico;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}
.col-circle-left, .col-circle-right{
    width: 25%;
    text-align: center;
    padding: 0 2.5%;
}
.col-circle-left img{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 50%;
}
.col-circle-right img{
    border: 1px solid rgb(155, 154, 154);
    border-radius: 50%;
}
.introduce-main{
    display: flex;
}
.image-introduce{
    padding: 0 2.5%;
    width: 50%;
}
.image-introduce img{
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle
}
.introduce img{
    margin-bottom: 10px;
}
.introduce h4{
    font-weight: 700;
    color: #555555;
    margin-bottom: 12px;
    font-size: 18px;
}
.introduce p{
    color: #777777;
    font-size: 16px;
    line-height: 24px;
}
.circle-1,.circle-3{
    margin-bottom: 30px;
}
.introduce-2{
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(image/introduce-2.jpg);
}
.introduce-container{
    border: 5px solid white;
    padding: 50px 0;
    width: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce-container-1{
    text-align: center;
    width: 80%;
}
.introduce-container-1 h2{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.introduce-container-1 h1{
    font-size: 60px;
    margin-bottom: 15px;
}
.introduce-container-1 p{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.introduce-container-1 button{
    padding: 10px 20px;
    border-radius: 99px;
    color: white;
    background-color: #70C130;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.introduce-container-1 button:hover{
    background-color: green;
}
.product{
    margin-top: 50px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.product h1{
    text-align: center;
    font-family: Pacifico;
    font-size: 60px;
    text-transform: capitalize;
}

.product li:not(:last-child){
    margin-right: 10px;
}
.product .title{
    margin-top: 10px;
}
.title-product{
    position: relative;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 0;
    cursor: pointer;
    border-top: 3px solid white;
}
.title{
    display: flex;
    justify-content: center;
}
.active-title{
    color: red;
    border-top: 3px solid #70C130;
}
.list-product{
    margin-top: 25px;
    padding: 0 1.25%;
}
.list-product1, .list-product2, .list-product3{
    display: flex;
    flex-wrap: wrap;
}
.hide{
    display: none;
}
.mini-product{
    flex-basis: 22.5%;
    box-shadow: 0 0 3px;
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}
.mini-product{
    margin-right: 3.333%;
}
.mini-product:nth-child(4n){
    margin-right: 0;
}
.mini-product img{
    max-width: 100%;
    cursor: pointer;
}
.img-product{
    position: relative;
    overflow: hidden;
}

