

.nav{

}
.nav-dropdown:hover.dropdown-manu{
    display: block/, m.n;
}

}





.nav-link,
.dropdown-button{
    display: block;
    padding: 8px 16px;
    background-color: brown;
    color: white;

}