* { margin: 0px;
  padding: 0px;
  margin: 0px;


}
.box {
  margin-left: 330px;
}
.section { 
  
  width: 715px; 
  display: flex;
  margin: 10px 10px 10px 10px;
  overflow: visible;
  flex-wrap: wrap-reverse;
  
  
}
.python,img,flex {
  width: 225px;
}

  

.phython {
  background-color: beige; height: 250px;
  width: 225px;
  border: 2px slategrey;
  margin: 5px;


  
}
.flex { height: 80px; display: flex;
 justify-content: space-around;
flex-direction: column;

}
.flex-direction {
  display: flex;
  justify-content: space-around;
  
}
.python,img,flex {
  width: 225px;
}