*{
    box-sizing: 0px;
    padding: 0px;
    margin: 0px;
    
}
.class{
    width: 250px; height: 30%;
}

img{
    width: ; vertical-align: middle;height: auto;
}
.stytle{
    max-width: 1310px; margin-left: auto; margin-right: auto;
}