* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.nav-link {
    width: 95%; height: 50px;
    background-color: antiquewhite;
}
.link-manu{
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}
  
.link-vui {
    

        border: 1px solid #ccc;
    height: 30px;
    line-height: 28px;


}
.buttom {
    width: 100px; height: 30px;
    border: 5px;
}